html {
    font-size: 30px
}

/* html = root font size -> rem에는 영향 미침 */
section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e5989b;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#ems h2 {
    font-size: 2em;
    /* 40px */
    /* 부모요소는 article임 */
    margin-left: 1em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems p {
    font-size: 1em;
}

#ems {
    font-size: 20px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    /* padding은 부모요소에 의존하는게 아니라
    요소 내부의 font-size에 의존한다.*/
    border-radius: 0.5em;
    /*radius를 px로 설정하면 font-size가 커지면서
    모양이 이상해진다...모깎기가 둔해짐...그래서 em으로 맞추면
    배수에 따르므로 유지가 가능함. */
    background-color: green;
    color: white;
}

#ems ul {
    font-size: 1.5em;
    /* article의 원래 글꼴에서 50퍼 더 커짐 */
}

#rems h2 {
    font-size: 3rem;
}

#rems h3 {
    font-size: 2rem;
}

#rems button {
    font-size: 1.5rem;
}